debug/
release/
GeneratedFiles/
ipch/
Win32/
bin/
obj/
_ReSharper.*/
*.dll
*.obj
*.pdb
*.user
*.suo
*.EMF
*.trx
*.dat
ui_*.h
moc_*.cpp
*.*~

_ReSharper.*
Makefile.*
Makefile
ui_*.h

*.html
*.js
*.o
*.filters
*.vcxproj